h1{
    text-align: center;
}

.carousel {
    width: 50%;
    margin: 0 auto;
    height: 250px;
}

.Pictures{
    margin: 0 auto;
    text-align: center;
}

.Pictures img{
    padding: 5%;
    width: 80%;
}

.carousel h3{
    color: black;
    text-align: center;
}

.carousel .item p {
    margin-left: 12.5%;
    margin-right: 12.5%;
}